@define-color cc-bg rgba(46, 46, 46, 0.7);
@define-color noti-border-color #282828;
@define-color noti-bg #161616;
@define-color noti-bg-opaque #202020;
@define-color noti-bg-hover #202020;

@define-color noti-bg-hover-opaque #282828;
@define-color noti-bg-focus #202020;
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color #ece5d6;
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(0, 128, 255);

* {
}

.floating-notifications {
  opacity: 0.95;
}

.notification-row {
  outline: none;
}

.notification-row .notification-background {
  border-radius: 12px;
  padding: 4px 8px;
  background: transparent;
}

.notification-row .notification-background .close-button {
  /* The notification Close Button */
  -gtk-icon-effect: none;
  color: red;
  text-shadow: none;
  box-shadow: none;
  min-height: 10px;
  min-width: 10px;
  border: none;
  background: transparent;
  border-radius: 8px;
  color: @text;
  margin: 0px;
  margin-top: 1px;
  padding: 4px;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 12px;
  padding: 0px;
  border: 1px solid @noti-border-color;
  transition: background 0.15s ease-in-out;
  background: @noti-bg;
}

.notification-row .notification-background .close-button:hover {
  background-color: @hover;
  color: @background-alt;
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-backgroun .notification:focus,
.notification-row .notification-backgroun .notification:hover {
  background: @noti-bg-focus;
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action,
.notification-row
  .notification-background
  .notification
  .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: @text-color;
  transition: background 0.15s ease-in-out;
}

.notification-row
  .notification-background
  .notification
  .notification-action:hover,
.notification-row
  .notification-background
  .notification
  .notification-default-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action {
  /* The large action that also displays the notification summary and body */
  border-radius: 12px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content {
  background: transparent;
  border-radius: 12px;
  padding: 16px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
  border-radius: 100px;
  /* Size in px */
  margin-right: 12px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-effect: none;
  margin: 6px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .summary {
  /* Notification summary/title */
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  margin-bottom: 8px;
  color: @text-color;
  text-shadow: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .time {
  /* Notification time-ago */
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 20px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .body {
  /* Notification body */
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  border-radius: 12px;
  -gtk-icon-effect: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-entry {
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
  color: @text-color;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid @noti-border-color;
  border-color: transparent;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-button:hover {
  background: @noti-bg-hover;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  border-top: 1px solid @noti-border-color;
  border-radius: 0px;
  border-right: 1px solid @noti-border-color;
}

.notification-row
  .notification-background
  .notification
  .notification-action:first-child {
  /* add bottom border radius to eliminate clipping */
  border-bottom-left-radius: 12px;
}

.notification-row
  .notification-background
  .notification
  .notification-action:last-child {
  border-bottom-right-radius: 12px;
  border-right: none;
}

.notification-group {
  /* Styling only for Grouped Notifications */
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 8px 4px 8px;
  color: @text-color;
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  color: @text-color;
}

.notification-group .notification-group-headers .notification-group-header {
  color: @text-color;
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group.collapsed .notification-row .notification {
  background-color: @noti-bg-opaque;
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-action,
.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  background-color: @noti-bg-hover-opaque;
}

@define-color text            @text-color;
@define-color background-alt  #202020;
@define-color selected        #83B6AF;
@define-color hover           #A7C080;
@define-color urgent          @color2;

* {
  color: @text;

  all: unset;
  font-size: 14px;
  font-family: Inter;
  transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: rgba(22, 22, 22, 0.95);
  border-radius: 24px;
  /* opacity: 0.95; */
  border: 1px solid @noti-bg-hover-opaque;
  margin: 18px;
  padding: 16px;
}

.control-center-list-placeholder {
  color: @text-color;
  font-weight: 700;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification {
  background-color: @background-alt;
}

.control-center .notification-row .notification-background .notification :focus,
.control-center
  .notification-row
  .notification-background
  .notification
  :hover {
  background: @noti-bg-hover-opaque;
}
.notification-row .notification-background .notification:hover {
}

.control-center .notification-row .notification-background {
  padding: 4px 4px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@selected, 0.6);
  color: @text;
  border-radius: 12px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @selected;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @selected;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: 600;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px;
  border-radius: 6px;
  padding: 6px;
}

.notification-group-collapse-button:hover image,
.notification-group-close-all-button:hover image {
  color: @background-alt;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  color: @text-color;
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 8px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

.widget-title button:hover label {
  color: @background-alt;
}

/* Do not disturb */
.widget-dnd {
  color: @text-color;
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  -gtk-icon-effect: none;
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch image {
  color: @background-alt;
  background-image: none;
  opacity: 0;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd switch:hover image {
  color: @hover;
}

.widget-dnd switch:hover slider {
  background: @background-alt;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked slider {
  background: @background-alt;
}

.widget-dnd > switch:checked image {
  color: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch:checked:hover image {
  color: @hover;
}

.widget-dnd > switch slider {
  transition: background 0.15s ease-in-out;
  background: @text;
  border-radius: 6px;
  min-width: 26px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: @background-alt;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @hover;
}

/* Music player */
.widget-mpris {
  background: @background-alt;
  border-radius: 16px;
  color: @text;
  margin: 20px 6px;
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background-color: @background-sec;
  border-radius: 22px;
  padding: 6px 14px;
  margin: 6px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}

.widget-mpris button {
  color: alpha(@text, 0.6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 600;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background: @background-sec;
  color: @background;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
