.bar {
    background-color: #1B1B1B;
}

.workspaces {
    min-width: 68px;
    margin: 10px 0;
}

.workspace {
    background-color: #fff;
    border-radius: 8px;
    min-height: 14px;
    min-width: 14px;
    font-size: 0px;
    transition: all 0.09s linear;
    padding: 0px;
}

.workspace.active {
    min-width: 28px;
    transition: all 0.1s linear;
    background-color: #A7C080;
}
