* {
  font-family: "Roboto"; }

.bar {
  background-color: #1b1b1b; }
  .bar .logo {
    padding: 3px;
    margin-left: 4px; }
  .bar .logo-icon {
    padding: 6px;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.3s; }
    .bar .logo-icon.hovered {
      -gtk-icon-transform: rotate(30deg); }
  .bar .workspaces {
    min-width: 68px;
    margin: 12px 0 12px 12px; }
  .bar .workspace {
    font-size: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 8px;
    margin: 4px 0;
    min-width: 8px;
    padding: 0px; }
    .bar .workspace.active {
      margin: 0px 0;
      min-width: 28px;
      min-height: 14px;
      transition: all 0.1s linear;
      background-color: #a7c080; }
  .bar .date {
    font: 14px "JetBrainsMono Nerd Font"; }
  .bar .power-menu-button {
    min-width: 20px;
    min-height: 10px;
    padding: 0px; }

.screen-corner box.shadow {
  margin-right: -98px;
  margin-left: -98px;
  margin-top: -4px;
  margin-bottom: -20px;
  box-shadow: inset 0 0 7px 0 #1b1b1b; }
.screen-corner box.border {
  border-top: 5px solid #1b1b1b;
  margin-right: 99px;
  margin-left: 99px;
  border-radius: 20px;
  box-shadow: 0 0 0 20px #1b1b1b; }
.screen-corner box.corner {
  border-radius: 20px;
  box-shadow: 0 0 0 20px #1b1b1b; }

.power-menu-window .power-menu {
  border-radius: 16px;
  padding: 16px;
  background-color: #1b1b1b; }
.power-menu-window .padding {
  min-height: 60px; }
.power-menu-window .toppw {
  min-width: 300px;
  background-color: #202020;
  padding: 10px;
  border-radius: 10px; }
.power-menu-window .avatar {
  min-width: 70px;
  min-height: 70px;
  background-image: url("/home/seyves/.face");
  background-size: cover;
  border-radius: 50%; }
.power-menu-window .username {
  font-weight: bold;
  font-size: 16px; }
.power-menu-window .osname {
  color: #464646;
  font-size: 12px; }
.power-menu-window .button {
  border-radius: 10px;
  min-width: 10px;
  min-height: 18px;
  background-color: #a7c080; }
  .power-menu-window .button .icon {
    color: #1b1b1b; }
.power-menu-window .weather {
  background-color: #202020;
  padding: 10px;
  border-radius: 10px; }
.power-menu-window .weather-temp {
  font-weight: bold;
  padding: 10px;
  font-size: 18px; }
.power-menu-window .weather-icon {
  background-size: cover;
  min-width: 40px;
  min-height: 40px; }
.power-menu-window .vpn-choose {
  padding: 4px; }
.power-menu-window .vpn-combobox {
  background-color: #202020;
  border-radius: 10px; }
  .power-menu-window .vpn-combobox button {
    box-shadow: none;
    border: none;
    background-color: #202020; }
  .power-menu-window .vpn-combobox decoration {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #a7c080; }
  .power-menu-window .vpn-combobox menu {
    border-radius: 10px;
    box-shadow: none;
    border: none;
    background-color: #202020; }
.power-menu-window .service {
  background-color: #202020;
  padding: 8px 0px;
  border-radius: 10px; }
  .power-menu-window .service .service-label {
    margin-left: 8px;
    font-weight: bold; }
  .power-menu-window .service.active {
    background-color: #a7c080; }
    .power-menu-window .service.active .service-label {
      color: #1b1b1b; }
    .power-menu-window .service.active .service-icon {
      color: #1b1b1b; }
.power-menu-window trough {
  background-color: #2d2d2d;
  border-radius: 3px; }
  .power-menu-window trough highlight {
    border-radius: 3px;
    min-height: 0px;
    border: 3px solid #a7c080;
    color: #a7c080;
    background-color: #a7c080; }
  .power-menu-window trough slider {
    min-width: 1px;
    min-height: 1px;
    box-shadow: none;
    background-color: transparent; }
    .power-menu-window trough slider:hover {
      background-color: #a7c080;
      border: 3px solid #a7c080; }
.power-menu-window .volume-slider {
  min-width: 240px; }

/*# sourceMappingURL=style.css.map */
