.bar {
    background-color: #1B1B1B;
}

.workspaces {
    min-width: 68px;
}

.workspace {
    background-color: #fff;
    border-radius: 6px;
    min-height: 12px;
    min-width: 12px;
    font-size: 0px;
    transition: all 0.2s;
}


.workspace.active {
    min-width: 24px;
    background-color: #A7C080;
}
